{# 
  define the logo in the upper left corner
	<!-- begin #logo -->
	<div id="logo"> <a href="{{ App.baseUrl }}"><img alt="{{ App.params.company }}" src="{{ App.baseUrl }}/images/trans.gif" /><em>{{ App.params.company }}</em><!--effing ie7 support--></a> </div>
	<!-- end #logo --> 
#}
{{ this.registerCssFile('pnek.css') }}
{{ this.registerCssFile('pnek.bauhaus.css') }}

<div id="logo-pnek">
	<a href="{{ App.baseUrl }}">
		<div id="logo-pnek-image">Archive Tool</div>
	</a>		
</div>

