{% extends this.viewPath('main') %}

{% block itemMenuHeader %}
<div class="search-spacer"></div>
{% endblock %}

{% block itemMenuFooter %}
	{% include this.viewPath('search-layout') %}
{% endblock %}

{% block content %}
	<div class="rowX">
		<div class="col-xs-12 bs-page-header" style="margin-top: 25px;">
			<div class="row">
				<div class="col-sm-2 id-marker2 id-marker" style="width: 180px; padding-left:14px">
					{{ Yii_t('app', 'Latest Videos') }}
				</div>
			</div>	
		</div>
	</div>

	{# the list of finished videos #}
	{% for data in digitized.done %}
		{% if loop.index0 % 3 == 0 %}
		<div class="row">
		{% endif  %}	

		<div class="art-row art-spacer col-sm-4 clearfix">	
			<div class="tile-view">
				<div class="preview-image">				
				{% if data.isProcessing %}
					<img id="img-art-{{data.id}}" width="100%" src="{{ App.baseUrl }}/images/processing.jpg" />			
				{% else %}			
					<img id="img-art-{{data.id}}" 
							 width="100%" 
							{% if data.tvRatioUrl %} 
								class="menu-modal" 
								data-url="{{ this.createUrl('art/preview', {'id' : data.id }) }}" 
								src="{{ data.tvRatioUrl }}"
								data-compact="1"
							{%else %}
								src="{{ App.baseUrl }}/images/no-preview.png"
							{% endif %} 
							data-missing-image="{{dataImagePath}}" />
					{% if data.tvRatioUrl %}
						<span class="play menu-modal" 
									data-url="{{ this.createUrl('art/preview', {'id' : data.id }) }}"
									data-compact="1">
						</span>
					{% endif %}
				{% endif %}
				</div>	
				<div class="preview-data line-div">
					<div class="art">
						<a href="{{ this.createUrl('art/view', {'id': data.id} ) }}" >{{ data.title }}</a>&nbsp;				
					</div>
					<div class="artist line-div">
						{% for  id, name in data.agents %}
						<a href="{{ this.createUrl('agent/view', {'id': id}) }}">{{ name }}{% if not loop.last %}, {% endif %}</a>
						{% endfor %}&nbsp;
					</div>
					<div class="line-div"><div class="data-label">Year</div><div class="data-info">{{ data.year }}</div></div>	
					<div class="line-div"><div class="data-label">Org. format</div>{{ data.format }}</div>	
					<div class="line-div"><div class="data-label">Length</div>{{ data.length }}</div>	
				</div>	
			</div>
		</div>	
		{% if loop.index0 % 3 == 2 or loop.last %}
	</div>
	{% endif  %}				
	{% endfor %}
	{# end list #}
<div class="row" style="margin-bottom: 20px">
	<div class="col-sm-4 col-sm-offset-8">		
		<a href="{{ App.createUrl('site/lastDigitized') }}" style="font-weight: bold;">{{ Yii_t('app', 'More...') }}</a>		
	</div>
</div>

<div class="row">
	<div class="col-sm-4">
		<div class="panel panel-top panel-list">
		<div class="panel-default">
			<div class="panel-heading">{{ Yii_t('app','New artwork') }}</div>
			<div class="panel-bodyX">
					{% for work in art %}
				<div class="art-sum">
					
						{#
						{% if loop.first %}
						<div class="preview-image">
						<img src="{{ work.previewThumbUrl }}" style="width:100%" />
						</div>
						{% endif %}
						#}
					<div class="grid-col-no-wrap2" ><a href="{{ this.createUrl('art/view', {'id':work.id})}}">{{ work.title }}</a></div>
					<div>{{ work.agent}}</div>
					<div class="grid-small">{{ work.altFiles | length}} files</div>
				</div>
				{% endfor %}	
				<a href="{{ this.createUrl('site/search', {'layout': 'grid', 'Art[searchOrder]': 'creation'})}}">{{ Yii_t('app','More') }} ...</a>
		
			</div>
		</div>	
		</div>		
					
	</div>
	<div class="col-sm-4 panel-top panel-list">
		<div class="panel">
		<div class="panel-default">
			<div class="panel-heading">{{ Yii_t('app','New artists') }}</div>
			<div class="panel-bodyX">
				
					{% for artist in agent %}
				<div class="art-sum">
					<div ><a href="{{ this.createUrl('agent/view', {'id':artist.id})}}">{{ artist.name }}</a></div>
					<div class="grid-small">biography: <b>{% if artist.biography%}Yes{%else%}No{%endif%}</b></div>
					{% if artist.born %}<div class="grid-small">born: <b>{{ artist.born }}</b></div>{%endif %}
				</div>		
					{% endfor %}	
				
			</div>
		</div>	
		</div>		
	</div>
			

	<div class="col-sm-4 panel-top panel-list">
		{#
		<div class="panel">
		<div class="panel-default">
			<div class="panel-heading no-wrap">Finished digitization</div>
			<div class="panel-bodyX">
				{% if digitized.done | length >0 %}
					{% for work in digitized.done %}
				<div class="row art-sum">
					<div class="col-sm-12 col-md-3 no-padding">
					{% if work.isProcessing %}
						<img id="img-art-{{work.id}}" width="100%" src="{{ App.baseUrl }}/images/processing.jpg" />			
					{% else %}			
						<img id="img-art-{{work.id}}" 
								 width="100%" 
								{% if work.tvRatioUrl %} 
								  class="menu-modal" 
									data-compact="1"
								  data-url="{{ this.createUrl('art/preview', {'id' : work.id }) }}" 
								  src="{{ work.tvRatioUrl }}"{% else %}src="{{ App.baseUrl }}/images/no-preview-small.png"
								{% endif %} 
								data-missing-image="{{dataImagePath}}" />
					{% endif %}		
					</div>
					<div class="col-sm-12 col-md-9" >
						<div><a href="{{ this.createUrl('art/view', {'id': work.id}) }}">{{ work.title }}</a></div>
						<div class="grid-small">{{ work.agent }}</div>
					</div>	
				</div>		
					{% endfor %}										
					<a href="{{ this.createUrl('site/search', {'layout': 'grid', 'Art[searchOrder]': 'digitization_date', 'Art[digitization_date]' : '>0'})}}">{{ Yii_t('app','More') }} ...</a>					
				{%endif%}	
				{% if digitized.recieved | length >0 %}
					<h4>Recieved Artwork</h4>
					<dl>					
					{% for work in digitized.recieved %}
						<dt>{{ work.title }} <a href="{{ this.createUrl('art/digitization', {'id': work.id}) }}"><span class="glyphicon glyphicon-link"></span></a></dt>
						<dd><small>{{ work.recieved_date }}</small></dd>
					{% endfor %}
					</dl>						
					<a href="{{ this.createUrl('site/search', {'layout': 'grid', 'Art[searchOrder]': 'recieved_date', 'Art[recieved_date]' : '>0'})}}">{{ Yii_t('app','More') }} ...</a>					
				{%endif%}	
					
			</div>
		</div>	
		</div>		
		#}	
		<div class="panel" panel-list>		
		{% if files |length == 0 %}
		<div class="panel-default">
			<div class="panel-heading">Info</div>
			<div class="panel-body">
			<b >There are no files in the upload directory</b>
			</div>
		</div>
		{% else %}
			<div class="panel-default">
				<div class="panel-heading" style="margin-bottom: 10px">Files in upload directory</div>
				<div class="panel-body">
				{% for file in files %}
					<div class="art-sum">
						<div>{{file.name}}</div>
						<div class="grid-small">{{ file.date }}</div>
						<div class="grid-small">{{ (file.size / (1024 *1024))| number_format(2) }} Mb</div>
					</div>
				{% endfor %}
				</div>
				{% if moreFiles %}
				<div class="panel-footer">There are more files in the upload directory</div>
				{% endif %}
			</div>		
		{% endif %}
		</div>		
				
	</div>
</div>
{% endblock %}
