#to: {{ model.email }}  
#subject: Password request for {{ App.params.company }}
#body: 

Hereby your login information for {{ App.params.company }}


Username: {{ model.username }}
Email address: {{ model.email }}
Wachtwoord: {{ model.password }} 

With this information you can login on the server: {{ this.createAbsoluteUrl('site/login') }}

Best regards

{{ App.params.editor }}
{{ App.params.company }}

#html:
	<body>
		<p>
		Hereby your login information for {{ App.params.company }}
		</p>
		<p>
Username: {{ model.username }}<br />
Email address: {{ model.email }}<br />
Wachtwoord: {{ model.password }}<br />
		</p>
		<p>
			<a href="{{ this.createAbsoluteUrl('site/login') }}">Click on this link to create a password</a>
		</p>	
		<p>Best regards</p>

{{ App.params.editor }}
{{ App.params.company }}
		
	</body>	
