<div class="row-fluid">
	<div class="span1">
		<h1><i class="icon-{% if data.reply_to_message_id %}comments-alt{% else %}comment-alt{% endif %}"></i></h1>
	</div>
	<div class="span10">
		<p>
		<strong>
	{% if data.awnser %}
	{{ data.name }} 			
	{%else %}		
	{{ html.link(data.name, {0: 'message/reply', 'id': data.id}) | raw }} 
	{% endif %}		
			</strong>		
	({{ data.email }}) - {{ data.subject }} - created: {{ data.creation_date }} <br/>
	</p>
	{{ data.message |nl2br }}
	</div>	
	{% if data.awnser %}
</div>		
<div class="row-fluid">			
	<div class="span1 offset1">
		<h1><i class="icon-comments-alt"></i></h1>
	</div>
	<div class="span10">
		<h3 class="short_headline">
			<span>Reply</span>
		</h3>		
		{{ data.awnser.message|nl2br }} 
	</div>		
  {%endif %}	
</div>
<hr />
