
<div class="container">
	<div class="row">
		<div class="col-lg-4">
			{% include this.viewPath('footerLeft') %}
		</div>
		<div class="col-lg-4">
			{% include this.viewPath('footerMiddle') %}
		</div>
		<div class="col-lg-4">
			{% include this.viewPath('footerRight') %}
		</div>
	</div>
</div>
<section class="footerCredits">
	<div class="container">
		<ul class="footer-links text-center">
			<li><a href="{{ this.createUrl('site/copyright') }}"> &copy; 2013 - 2014 Toxus | </li>
			<li><a href="{{ this.createUrl('site/sitemap') }}">{{ Yii_t('base','Site map') }} | </li>
			<li><a href="{{ this.createUrl('site/privacy') }}">{{ Yii_t('base','Privacy') }}</li>
		</ul>
	</div>		
</section>	
