{# 
	render a menu 
	menu is array of items. 
		item.type:		[caption-right | caption ]	- the caption above the menus
		item.hidden:	[true | false]	- hides the entire menu item
		item.icon     {text} - the icon class to display in front
		item.label		{text} - the raw label to display
		item.items    array  - the sub items of this menu item
		item.tooltip  {text} - the title used in the links

	the layout.class can set the style of the main <ul> Default 'navigation'	
#}
{# 
	rendering the header above the menu 
	can have multiple items by the type of 'caption-right' or 'caption'

#}

{% for key, item in menu %}
	{% if item.type=='caption-right' %}
	<h5 class="short_headline right"><span>{{ item.caption }}</span></h5>
	{% elseif item.type=='caption' %}
	<h5 class="short_headline"><span>{{ item.caption }}</span></h5>
	{% endif %}
{% endfor %}

{# 
	render the items of the menu 
#}
{% if menu | length > 0 %}
<ul class="{{ layout.class | default('navigation') }}">
{% for key, item in menu %}
	{% if item.type %}
	{% else %}		
		{% if item.hidden != true  %}
	<li class="menu-{{ key | replace({' ' : '-'}) |lower }} menu-item">	
  <a href="{{ item.url | default('#') | raw }}" data-placement="bottom" {% if item.tooltip %}title="{{ item.tooltip }}"{% endif %}
	{% if item.isDropDown %}
		 class="cls-{{ util.formId(item.label)}}"
{{ this.onReady(
	"$('.cls-" ~util.formId(item.label)~"').on('click', function() {
     $('.menu-item').removeClass('active');
	   $('.menu-"~key | replace({' ' : '-'}) |lower ~"').addClass('active'); });") 
}}
	{% endif %}
	>
  {% if item.icon is defined %}<span class="{{ item.icon }}"></span>{% endif %}
	{% if item.label %}{{ item.label |raw }}{% endif %}
	</a>
	{% if item.items | length > 0 %}	
		{% if item.dropDown %}
		MAKE DROP
		{% endif %}
	<ul class="nav">
		{% for subKey, subItem in item.items %}
			<li class="menu-{{ subKey | replace({' ' : '-'}) |lower }}">	
			<a href="{{ subItem.url | raw }}" data-placement="bottom" {% if subItem.tooltip %}title="{{ subItem.tooltip }}"{% endif %}>
			{% if subItem.icon is defined %}<i class="{{ subItem.icon }}"></i>{% endif %}
			{% if subItem.label %}{{ subItem.label |raw }}{% endif %}
			</a>
			</li>
		{% endfor %}
	</ul>
	{% endif %}
  </li>		
		{% endif %}
	{% endif %}
{% endfor %}
</ul>		
{% endif %}	