{# 
	render a menu 
	menu is array of items. 
		item.type:			[caption-right | caption ]	- the caption above the menus
		item.hidden:		[true | false]	- hides the entire menu item
		item.icon				{text} - the icon class to display in front
		item.label			{text} - the raw label to display
		item.url				{text} - the raw url
		item.items			array  - the sub items of this menu item
		item.tooltip		{text} - the title used in the links
		item.isDropDown [0|1]	  

	the layout.class can set the style of the main <ul> Default 'navigation'	
#}
{# 
	rendering the header above the menu 
	can have multiple items by the type of 'caption-right' or 'caption'

#}

{% macro menuItemBuilder(menu, t, level) %}
 	{% for key, menuItem in menu %}	
		{% if menuItem is iterable %}
			{% if menuItem.hidden != true %}
				{% if menuItem.type %}
				{% else %}
					<li class="menu-{{ key | replace({' ' : '-'}) |lower }} menu-item{% if menuItem.items %} menu-submenu {% endif %}{% if menuItem.isActive %} active{% endif %}">	
					{% if menuItem.url != 'xxxx' %}	
					<a href="{{ menuItem.url | default('#') | raw }}" data-placement="bottom" {% if menuItem.tooltip %}title="{{ menuItem.tooltip }}"{% endif %}
						 {% if menuItem.style %} class="{{ menuItem.style }}" {% endif %}
	{# I don't get it and why do we use it					 
					{% if menuItem.isDropDown %}
						 class="cls-{{ util.formId(menuItem.label)}}"
				{{ t.onReady(
					"$('.cls-" ~util.formId(menuItem.label)~"').on('click', function() {
						 $('.menu-item').removeClass('active');
						 $('.menu-"~key | replace({' ' : '-'}) |lower ~"').addClass('active'); });") 
				}}
					{% endif %}					 
	#}
					>
					{% if menuItem.level %}
						<span class="menu-item-level-{{ menuItem.level}}">
					{% endif %}		
					{% if menuItem.icon is defined %}<span class="{{ menuItem.icon }}"></span>{% endif %}
					{% if menuItem.label %}{{ menuItem.label |raw }}{% endif %}
					{% if menuItem.level %}
						</span>
					{% endif %}
					{% if menuItem.badge %}	
						<span class="pull-right badge-menu badge {{ menuItem.badgeStyle | default('badge-info')}}" >{{ menuItem.badge }}</span>	
					{% endif %}	
					</a>
						
					{% else %}
						YYY
						{% if menuItem.level %}
							<span class="menu-item-level-{{ menuItem.level}}">
						{% endif %}		
						{% if menuItem.icon is defined %}<span class="{{ menuItem.icon }}"></span>{% endif %}
						{% if menuItem.label %}{{ menuItem.label |raw }}{% endif %}					
						{% if menuItem.level %}
							</span>
						{% endif %}	
					{% endif %}
					{% if menuItem.items | length > 0 %}	
					<ul class="nav menu-level-{{ level }} menu-submenu menu-level">
						{{ _self.menuItemBuilder(menuItem.items, t, level + 1) }}
					</ul>
					{% endif %}
					</li>		
				{% endif %}
			{% endif %}
		{% endif %}		
	{% endfor %}
{% endmacro %}

{% for key, item in menu %}
	{% if item.type=='caption-right' %}
	<h5 class="short_headline right"><span>{{ item.caption }}</span></h5>
	{% elseif item.type=='caption' %}
	<h5 class="short_headline"><span>{{ item.caption }}</span></h5>
	{% endif %}
{% endfor %}

{% if menu | length > 0 %}
<ul class="{{ menu.style | default(layout.class)}}">	
	{{ _self.menuItemBuilder(menu, this, 0) }}
</ul>
{% endif %}
	
{# 
	render the items of the menu 
#}
{#	
{% if menu | length > 0 %}
<ul class="{{ layout.class | default('navigation') }}">
{% for key, item in menu %}
	{% if item.type %}
	{% else %}		
		{% if item.hidden != true  %}
	<li class="menu-{{ key | replace({' ' : '-'}) |lower }} menu-item">	
  <a href="{{ item.url | default('#') | raw }}" data-placement="bottom" {% if item.tooltip %}title="{{ item.tooltip }}"{% endif %}
	{% if item.isDropDown %}
		 class="cls-{{ util.formId(item.label)}}"
{{ this.onReady(
	"$('.cls-" ~util.formId(item.label)~"').on('click', function() {
     $('.menu-item').removeClass('active');
	   $('.menu-"~key | replace({' ' : '-'}) |lower ~"').addClass('active'); });") 
}}
	{% endif %}
	>
  {% if item.icon is defined %}<span class="{{ item.icon }}"></span>{% endif %}
	{% if item.label %}{{ item.label |raw }}{% endif %}
	</a>
	{% if item.items | length > 0 %}	
		{% if item.dropDown %}
		MAKE DROP
		{% endif %}
	<ul class="nav">
		{% for subKey, subItem in item.items %}
			<li class="menu-{{ subKey | replace({' ' : '-'}) |lower }}">	
			<a href="{{ subItem.url | raw }}" data-placement="bottom" {% if subItem.tooltip %}title="{{ subItem.tooltip }}"{% endif %}>
			{% if subItem.icon is defined %}<i class="{{ subItem.icon }}"></i>{% endif %}
			{% if subItem.label %}{{ subItem.label |raw }}{% endif %}
			</a>
			</li>
		{% endfor %}
	</ul>
	{% endif %}
  </li>		
		{% endif %}
	{% endif %}
{% endfor %}
</ul>		
{% endif %}	
#}