{#
  the system menu
#}
{% macro menuSystemBuilder(menu, name, t) %}
	{% for key, menuItem in menu %}	
		{% if menuItem.isVisible | default(1) == 1 %}
		{% if 'page' in menuItem|keys %}
	<li class="parent{% if menuItem.isActive %} active{% endif %}">
		<a href="javascript:void()" >{{ menuItem.label }}<i></i></a>
		{{ t.form.page(menuItem.page) }}
	</li>		
		{% elseif 'items' in menuItem|keys %}	
	<li class="parent{% if menuItem.isActive %} active{% endif %}">
		<a href="javascript:void()" >{{ menuItem.label }}<i></i></a>
		<ul>
		{{ _self.menuSystemBuilder(menuItem.items) }}
		</ul>
	</li>		
		{% else %}			
			<li{% if menuItem.isActive %} class="active"{% endif %}>
			{% if menuItem.dialog %}					
				{# <a data-target="#id-modal" class="menu-action" data-toggle="modal" href="{{ menuItem.url }}">{{ menuItem.label }}</a> #}
				<a href="#" class="menu-modal" data-url="{{ menuItem.url}}">{{ menuItem.label }}</a>
				{{ t.registerPackage('modal-dialog') }}
			{% else %}
				{{ html.link(menuItem.label, menuItem.url, menuItem.linkOptions)|raw }}
			{% endif %}	
			 </li>	
		{% endif %}		
	{% endif %}		
	{% endfor %}
{% endmacro %}

<ul class="{{ layout.class | default('accordmobile') }}">
	
	{{ _self.menuSystemBuilder(menu, name, this) }}
</ul>
