<dl class="{{ form.layoutClass |default('dl-horizontal') }}">
		{% if form.controlWidth %}{% set width=form.controlWidth %}{% else %}{% set width='input-xlarge' %}{% endif %}
		{% for groupKey, groupElement in form.elements %}			
		{% if groupElement.hidden != true and groupElement.viewHidden != true  %}
		{# <div class="control-group{% if model.getErrors(groupKey) %} error {% endif %}"> #}
			{% if  groupElement.type != 'hidden' %}
			{# <span class="view-label" for="id-{{ groupKey }}">{% if groupElement.label %}{{ groupElement.label}}{% else %}{{ model.attributeLabel(groupKey) }}{% endif %}:</span>  #}
			<dt>
        {% if groupElement.hideLabel != true %}
          {% if groupElement.type == 'checkbox' and groupElement.viewLabel %}
            {{ groupElement.viewLabel.label }}
          {% else %} 
            {% if groupElement.label %}{{ groupElement.label}}{% else %}{{ model.attributeLabel(groupKey) }}{% endif %}
          {% endif %}  
        {% endif %}</dt> 
			{% endif %}
			
			<dd>
				{% if groupElement.elements | length > 0 %}
					{% set fields = (groupElement.elements) %}
				{% else %}
					{% set fields = { (groupKey) : groupElement } %} {# must in () otherwise it's an string #}
				{% endif %}	
				{% for key, element in fields %}	

				{% if element.type == 'dropdown' or element.type == 'radiobuttonlist' %}							
					{% for itemKey, itemCaption in element.items %}
					 {% if itemKey == model.__get(key) %}{{ itemCaption }}{% endif %}
					{% endfor %}
				{% elseif element.type == 'textarea' %}
					 {{ html.encode(model.__get(key)) |replace({"\n" : '<br />'}) |raw }}
				{% elseif element.type == 'checkbox' %}	
          {% if element.viewLabel %}
            {% if model.__get(key)==1 %}{{ groupElement.viewLabel.true }}{% else %}{{ groupElement.viewLabel.false }}{%endif%}
          {% else %}  
            {% if model.__get(key)==1 %}{{ element.trueCaption|default(Yii_t('base','Yes'))}}{%else%}{{ element.falseCaption|default(Yii_t('base','No'))}}{%endif%} 
          {% endif %}
				{% elseif element.type== 'image' %}
					{{ this.form.image(model, key) | raw }}								
				{% elseif element.type== 'finder' %}					
				{% elseif element.type== 'html' %}
					{{ model.__get(key) | raw }}
				{% elseif element.type=='chosen' %}								
						{% if element.multi and model.__get(key) | length > 0 %}						
							<ul class="comma-list-summary">
							{% for itemKey, itemCaption in element.items %}
							 {% if itemKey in model.__get(key) and itemKey and itemCaption %}<li class="comma-list">{% if element.url %}<a href="{{ element.url}}{{itemKey}}">{% endif %}{{ itemCaption }}{% if element.url %}</a>{% endif %}</li>{% endif %}
							{% endfor %}					
							</ul> 
						{% else %}
							{% for itemKey, itemCaption in element.items %}
							 {% if itemKey == model.__get(key) %}{% if element.url %}<a href="{{ element.url}}{{itemKey}}">{% endif %}{{ itemCaption }}{% if element.url %}</a>{% endif %}{% endif %}
							{% endfor %}									
						{% endif %}				
				{% elseif element.type=='datetime' %}						
					{{ model.__get(key) }}	
				{% elseif element.type=='hidden' %}
				{% elseif element.type== 'view' %}
					{{ model.__get(key) | raw }}	
				{% elseif element.type== 'password' %}
				{% elseif element.type=='typeahead' %}
					{% if element.associative | default(1) %}
					{{ element.caption }}	
					{% else %}
					{{ model.__get(key) }}	
					{% endif %}
				{% elseif element.type=='button' or element.type=='dialog'%}	
					{% if element.showMode |default('view') == 'view' %}
				<h4>
					<span id="" class="a-url btn {{element.style|default('btn-primary')}}"{{element.popover|raw}} data-url="{{ element.url }}">{{element.caption}}</span>
				</h4>	
					{% endif %}
				{% elseif element.type=='email' %}
					{% if model.__get(key) %}
					<a href="mailto:{{ model.__get(key) }}">{{ model.__get(key) }}</a>
					{% endif %}	
				{% elseif element.type=='url' %}						
						<a href="{{ model.__get(key) }}">{{ model.__get(key) }}</a>	
				{% elseif element.type=='raw' %}
						{{ element.value | raw }}
				{% else %}	
					{{ model.__get(key) | raw }}	
				{% endif %}
				{% if element.openUrl %}
					&nbsp;<a href="{{ element.openUrl}}"><span class="glyphicon glyphicon-link"></span></a>
				{% endif %}
					
			  {% endfor %}&nbsp;

			</dd>	
			
		{#</div> #}
		{% endif %}	
		{% endfor %}	
		
</dl>