{#
  In a 3 frame enviroment (itemMenu, selectors, frame)

  the 2 frame showing all the items (selectors) possible
#}
{% set viewId = 0 %}

<aside class="widget">
	
	<form class="form-search">
		<table class="responsive point-grid">				
			{% block menuSearch %}
			<thead>
			<tr>
				<td >
					<span class="input-append" >
					<input type="text" class="span8">
					<span class="add-on"><i class="icon-search"></i></span>
					{% if sub.onCreateUrl %}<a href="#" id="sub-add"><span class="add-on"><i class="icon-plus"></i></span></a>{% endif %}
					</span>
				</td>
			</tr>	
			</thead>
			{% endblock %}	
			{% block menuList %}	
			<tbody>

				{% for id, value in sub.items %}
			<tr>
				<td class="item-link" id="link-{{id}}" data-id="{{id}}" data-url="{{ sub.onViewUrl |replace( {'-key-' : id})}}">{% block menuItem %}{{ value }}{% endblock %}</td>
			</tr>
				{% endfor %}	
			</tbody>
			{% endblock %}
			
		</table>		
	</form>		
		
<script type="text/javascript">
	$().ready(function() {
		{% if sub.onViewUrl %}				
		$('.item-link').click(function() {
			$('.item-link').removeClass('sub-active');
			$(this).addClass('sub-active');
			$('#{{ sub.slaveFrame }}').load($(this).data('url'));	
		});
			{% if sub.childRelationId != 0 %}
		$('#{{ sub.slaveFrame }}').load("{{ sub.onViewUrl | replace( {'-key-' : sub.childRelationId}) }}");
		$('#link-{{sub.childRelationId}}').addClass('sub-active');
			{% else %}	
				{% for id, value in sub.items %}
					{% if loop.first %}
					
		$('#{{ sub.slaveFrame }}').load("{{ sub.onViewUrl | replace( {'-key-' : id}) }}");
		$('#link-{{ id }}').addClass('sub-active');
					{% endif %}	
				{% endfor %}		
			{% endif %}		
		{% endif %}
		{% if sub.onCreateUrl  %}

		$('#sub-add').click(function() {
			$('#{{ sub.slaveFrame }}').load("{{ sub.onCreateUrl }}");
		});
		{% endif %}
	});
</script>		
		
</aside>
