{% extends dialog ? this.viewPath('ajaxDialog') : this.viewPath('main') %}
{# parameter:
 # - title    (the caption of the dialog | default= error)
 # - message  (the message to display)
 # - url      (next url to open)

 ***** NOT USED ANY MORE (I THINK: 28 nov 2013): replace by errorPage.twigautoescape

#}
{% block content %}
  <div class="row">
  {% if page != 1 %}
		<div class="modal-header">
				<button type="button" class="close action-close" data-dismiss="modal" aria-hidden="true">×</button>

			<h4>{% block dialogHeader %}<h3>{{ title | default(Yii_t('base','error')) }}</h3>{%endblock %}</h4>
		</div>
	{% endif %}	
	<div class="well well-lg" style="margin-top: 30px;">
	<div class="row" >
		<div class="col-md-offset-3 col-md-6">
			<h4>{{ message |nl2br |raw}}</h4>
		</div>		
	</div>
	<div class="row">
		<div class="col-md-3"> <i style="font-size: 50px; color:red;" class="glyphicon glyphicon-wrench icon-size-large pull-right"></i></div>
		<div class="col-md-6">
			<p class="statement">No biggie. Chillax. The page you are looking for is not here. Either we moved our site around, or this page never existed in the first place. Please check your url and try again or search our site with the <i class="icon-search"></i> search button above.</p>
		</div>
	</div>	
	</div>	
	</div>	
	{% if App.config.debug.fullError %}
	<div class="row">
		<div class="col-xs-12  well well-lg">
			<p>
				code: {{ code }}<br/>
				type: {{ type }}<br />
				file: {{ file }}<br />
				line: {{ line }}<br /><br />
				trace: {{ trace|nl2br }} <br />
			</p>
		</div>	
	</div>
	{% endif %}
	{% if page != 1 %}
  <div class="modal-footer">
		{% block dialogFooter %}
    <a id="btn-close" class="btn btn-primary action-close" {% if url %}href="{{ url }}" {% else %}data-dismiss="modal"{% endif %}>{{ closeCaption | default(Yii_t('button','btn-close')) }}</a>
		{% endblock %}
  </div>
	{% endif %}
{% endblock %}
	   