{# 
  define the logo in the upper left corner
	<!-- begin #logo -->
	<div id="logo"> <a href="{{ App.baseUrl }}"><img alt="{{ App.params.company }}" src="{{ App.baseUrl }}/images/trans.gif" /><em>{{ App.params.company }}</em><!--effing ie7 support--></a> </div>
	<!-- end #logo --> 
#}
<div id="logo">
	<ul class="nav navbar-nav"><li>
	<a href="{{ App.baseUrl }}">
		<div class="word">Toxus</div>
		<div class="word">Base</div>
		<div class="word">Application</div>
	</a>
		</li>
	</ul>	
</div>