{#
  the new interface based upon bootstrap 3rc1

  JvK 29 juli 2013
#}
<!DOCTYPE html>
<html>
  <head>
		<title>{% block pageTitle %}{{ this.pageTitle }}{% endblock %}</title>		
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
		<link rel="icon" href="/favicon.ico" type="image/x-icon">
		{{ this.addHeader() }}
		{{ this.registerCore('jquery', true) }}
		{{ this.registerPackage('bootstrap3') }}
		{{ this.registerPackage('core') }}
		{% block head %}{% endblock %}		
		{% include this.viewPath('header') |raw %}
		
		<meta name="description" content="{{ App.config.value('meta.description') | default('site description') }}" />	
		<meta name="keywords" content="{{ App.config.value('meta.keywords') | default('none') }}" />
		<meta name="language" content="{{ App.config.value('meta.language') | default('english') }}" />
		<meta http-equiv="language" content="{{App.config.value('meta.languageShort') | default('EN') }}" />

	</head>
	<body {% block bodyTag %}{% endblock %}>
		{# 
			This construction create a raw string that is used in the LEFT menu and
			in the top menu
		#}	
		{% set itemMenu %}
			{% block menuLeft %}
			{% block itemMenuHeader %}
			<div class="cls-navbar-toolbar navbar bs-nav-toolbar id-navbar-toolbar">
			{% include this.viewPath('_buttons') %}
			</div>
			{% endblock %}
			{% block itemMenuContent %}
      {{ this.menuHtml('item', {'class': 'nav bs-sidenav' }) |raw }}
			{% endblock %}
			{% block itemMenuFooter %}{% endblock %}	
			{% endblock %}
		{% endset %}			
		
		{% block menuTop %}
		<div class="navbar navbar-inverse navbar-fixed-top bs-docs-nav">
			<div class="container">
				<button class="navbar-toggle pull-left" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				{% if this.hasMenu('item') %}
				<button class="navbar-toggle btn-info" type="button" data-toggle="collapse" data-target=".bs-item-menu" style="margin-right: 10px">
					<span class="glyphicon glyphicon-retweet"></span>
				</button>				
				{% endif %}
				{% block homeLeft %}
				<a href="{{ this.createUrl('/')}}" class="navbar-brand">{{ App.name }}</a>											
				{% endblock %}
				
				<div class="collapse navbar-collapse bs-navbar-collapse" style="overflow-y:hidden;">
					<div class="navbar-left">
					{{ this.menuHtml('system', {'class': 'nav navbar-nav' }) |raw }}
					</div>
					<div {% block navbarUserLocation %}class="navbar-right pull-right" {% endblock %}>	
					{{ this.menuHtml('user', {'class': 'nav navbar-nav' }) |raw }}
					</div>
				</div>
				</div>
				
				{% block extraNav %}
				<div class="visible-xs">
				<div class="collapse navbar-collapse bs-item-menu">
					{{ itemMenu | raw }}
				</div>
				</div>		
				{% endblock %}
		</div>
		{% endblock %}
		
		<div class="bs-header" {% block bsHeaderOptions %}{% endblock %}>
			<div class="container">
				{% block header %}
				{# anything in this container is the header of the application. It will scroll out of view #}				
				<div class="navbar-left col-xs-6 no-padding no-wrap ">	
					{% block headerLeft %}
					{% include this.viewPath('logo') %}									
					{{ this.menuHtml('logo', {'class': 'nav navbar-nav' }) |raw }}
					{% endblock %}
				</div>
{#				<div class="header-toolbar col-sm-1">{% block headerButtons %}{% endblock %}</div>					#}
				<div class="navbar-right no-padding col-xs-6">	
					<div class="pull-right">
					{% block headerRight %}
					{{ this.menuHtml('header', {'class': 'nav navbar-nav' }) |raw }}					
					{% endblock %}
					</div>		
				</div>
				{% endblock %}
			</div>
		</div>
		{% set colVis = layout | default('content') %} {# layout was pageLayout 2014-07 #}
{# 
	there are multiple ways to show the page: 
	* full : 12 column
	* sub : 3col menu, 3col infoLeft, 6col content
  * info: 3col menu, 6col content, 3col infoRight 
  * content: 3col menu, 9col content
  * infoRight: 9col content, 3col infoRight  
 
#}

		<div class="container bs-container {% block appClass %}{% endblock %}">
			<div id="id-body" class="row">			
	{% if colVis == 'full' %}
				<div class="col-sm-12" role="main">
	{% else %}
		{% if colVis != 'infoRight' %}			
				<div class="col-sm-3  hidden-xs" >
					<div class="bs-sidebar affix-top hidden-print" role="complementary"  >
						{{ itemMenu | raw }}
					</div>
				</div>
		{% endif %}			
		{% if colVis == 'sub' %}
				<div class="col-sm-3">
					{% block infoLeft %} {%endblock %}
				</div>
				<div class="col-sm-6" role="main">
		{% elseif colVis == 'info' %}	
				<div class="col-sm-6" role="main">					
		{% else %}	
				<div class="{{ mainColumnClass | default('col-sm-9') }}" role="main">
		{%endif %}	
	{%endif %}		
				{% block content %}{% endblock %}										
				</div>	
	{% if colVis == 'info' or colVis == 'infoRight' %}	
				<div class="{{ rightColumnClass | default('col-sm-3') }}">
					{% block infoRight %}{%endblock %}
				</div>					
	{% endif %}					
			</div>				
		</div>	
		
{#		
		<div class="container bs-container">
			{% block fullContent %}			
			<div class="row">
				<div class="col-sm-3  hidden-xs" >
					<div class="bs-sidebar affix-top hidden-print" role="complementary"  >
						{{ itemMenu | raw }}
					</div>
				</div>
				<div class="col-sm-9" role="main">
					{% block content %}{% endblock %}					
				</div>	
			</div>
			{% endblock %}	
		</div>	
#}			

		<div class="bs-footer">	
			{% block bootstrap3Footer %}
			<div class="container">
				<div class="row">
					<div class="col-sm-4">
						{% block footerLeft %}
						<section>
							<h4>{{ Yii_t('base','contact us') }}</h4>
							<p>{{ App.params.company}}<br>
								{{ App.params.companyAddress |raw }}<br/>
							</p>
							<p>
								<strong>{{ Yii_t('base','email')}}:</strong> <a href="mailto:{{ App.params.companyEmail |default('info@toxus.nl') }}">{{ App.params.companyEmail |default('info@toxus.nl') }}</a> 
							</p>
							{% block footerLeftExtra %}{% endblock %}							
						</section>
						{% endblock %}													
					</div>
					<div class="col-sm-4">
						{% block footerMiddle %}
						<section>
							<h4>{{ Yii_t('base','stay updated') }}</h4>
							<p>{{ Yii_t('base','sign up for our newsletter. We won\'t share your email address.') }}</p>
							{% include this.viewPath('newsletter') %}
								<!--close input-append-->
							</form>
						</section>							
						{% endblock %}	
					</div>
					<div class="col-sm-4">
						{% block footerRight %}
            {% for article in this.footerArticles %}
              {% if loop.first %}
            <section>
              <h4>Instruction and Help</h4>
              <ul class="footerPosts list-unstyled">
              {% endif %}  
                <li><a href="{{ this.createUrl('article/index', {(article.key): '' }) }}">{{ article.title}}</a></li>
              {% if loop.last %}    
              </ul>
            </section>	
              {% endif %}
           {% endfor %}
              
						{% endblock %}	
					</div>
				</div>
			</div>
			<div class="footerCredits">
				{% block footerCredits %}
				<div class="container">
					<ul class="footer-links text-center">
						{% block copyright %}<li><a href="{{ this.createUrl('article/index', {'copyright' :'' }) }}"> &copy; 2013 - 2015 Toxus</a> | </li>{% endblock %}
						{% block sitemap %}<li><a href="{{ this.createUrl('site/sitemap') }}">{{ Yii_t('base','site map') }}</a> | </li>{% endblock %}
						{% block privacy %}<li><a href="{{ this.createUrl('site/privacy') }}">{{ Yii_t('base','privacy') }}</a></li>{% endblock %}
						{% block versionInfo %}<li class="version">{{ Yii_t('base','version') }}: {% block version %}{{ this.version }}3{% endblock %}</li>{% endblock %}
					</ul>
				</div>		
				{% endblock %}	
			</div>	
		 {% endblock %}	
		</div>		
		<div class="modal fade" id="id-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" >
			<div class="modal-body">
				<div class="modal-dialog">
					<div id="id-modal-body" class="modal-content">
					{{ Yii_t('base', 'LOADING INFORMATION ....') }}
					</div><!-- /.modal-content -->
				</div><!-- /.modal-dialog -->				
			</div>
		</div>
{# 
	we need a hidden preview window for large bitmaps.		
	the modal window is to small. Width should be 770, 30 for the scrollbar = 800 (iPad version)
#}		
		<div class="modal fade modal-preview" id="id-preview" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" >
			<div class="modal-body">
				<div class="modal-dialog">
					<div class="modal-content">
					{{ Yii_t('base', 'LOADING INFORMATION ....') }}
					</div><!-- /.modal-content -->
				</div><!-- /.modal-dialog -->				
			</div>
		</div>
			
		<div id="id-wait-message" class="hide">
			<div class="row id-wait">
				<div class="col-offset-1 col-lg-10">
					<h2 style="text-align: center" class="wait-message">{{ Yii_t('base', 'Processing .....') }}</h2>
					<div class="wait-icon"><img class="wait-icon" src="{{ this.getPackageBaseUrl('core') }}/images/progress.gif"/></div>
				</div>
			</div>
		</div>	
			
		{% block contentBody %}
		{% endblock %}
		<script	type="text/javascript">
			$().ready(function() {
				{% block onReady %}{% endblock %}
				$('.a-url').on('click', function() {
					window.location = $(this).data('url');
				});
				{{ this.scriptOnReady() | raw }}
			});
		</script>		
  </body>
</html>