{% extends this.viewPath('formDialog') %}

{% block title %}
	{{ Yii_t('mail','Request password') }}
{% endblock %}

{% block message %}
	{% if profile.hasErrors %}
		{{ Yii_t('base', 'There was an error sending the reactive information') }}
		{% for err in profile.errors %}
			<div class="text-danger">{{ Yii_t('base', 'Error') }}: 
				{% for e  in err %}
					{{ Yii_t('base', e) }}<br />
				{% endfor %}
			</div>
		{% endfor %}	
		<div class="text-center center">
			<a href="{{ this.createUrl('site/login')}}" class="btn btn-success">{{ Yii_t('base', 'Try again') }}</a>
		</div>	
	{% else %}
		<div >	
			<p>{{ Yii_t('mail','A email has been send to <strong>{email}</strong> with the information how to set your password.', { '{email}': this.model.email }) | raw}}</p>
			<p>{{ Yii_t('mail', 'Please check your email and follow the instruction.') }}</p>
		</div>
{#
		<div class="text-center center">
				<a href="{{ this.createUrl('site/login')}}" class="btn btn-success">{{ Yii_t('base', 'Login') }}</a>
		</div>
#}
	{% endif %}

{% endblock %}
	