{# 
  display a article 
#}

{% extends this.viewPath('main') %}

{% block content %}
<div class="row">
	<div class="col-sm-offset-1 col-sm-9 article-body">
		<h2>{{ this.model.title }}
		{% if allowEdit %}	
			<div class="pull-right well well-sm">
					<a class=" btn-edit btn btn-info" href="{{ this.createUrl('article/edit', {'id' : this.model.id, 'mode' : 'edit'}) }}">{{ Yii_t('button','btn-edit') }}</a>
					<a class="btn-new btn btn-info" href="{{ this.createUrl('article/create') }}">{{ Yii_t('button','btn-new') }}</a>
			</div>	
		{% endif %}
		</h2>
		<div class="article-content">
		{{ this.model.content | raw }}
		</div>	
	</div>	
</div>
{% endblock %}


{% block onReady %}
	$('{{ menuItem }}').addClass('active');
	{{ parent() }}
{% endblock %}