{# 
	default job page
#}
{% extends this.viewPath('main') %}

{% macro subMenu(items, page) %}
	{% if items | length > 0 %}
		<ul class="indent-close">
			{% for item in items %}
			<li>
				<a href="{{ page.createUrl('access/group', {'id' : item.ref} ) }}">{{ item.name }}</a>
				{{ _self.subMenu(item.children) }}
			</li>
      {% endfor %}
		</ul>
  {% endif %}
{% endmacro %}

{% block content %}
	<h2>{{ Yii_t('app','Access manager') }}</h2>
	<div class="row">
		<div class="col-sm-4">
			<h4>{{ Yii_t('app','Groups') }}</h4>
			<div class="indent-level">
				<ul>
				{% for group in this.model.rootGroups %}
					<li>
						<a href="{{ this.createUrl('access/group', {'id' : group.ref}) }}">{{ group.name }}</a>
						{{ _self.subMenu(group.children, this) }}
					</li>
				{% endfor %}
				</ul>	
			</div>			
		</div>
		
		
		
		<div class="col-sm-4">
		<h4>{{ Yii_t('app','Users per group') }}</h4>
		<div class="panel-group" id="accordion">
		{% for group in this.model.groups %}			
			<div class="panel panel-default">
				<div class="panel-heading">
					<h4 class="panel-title">
						<a data-toggle="collapse" data-parent="#accordion" href="#collapse-{{ group.ref }}">
							{{group.name}}
						</a>
						<div class="pull-right badge badge-info">{{ group.users | length }}</div>
					</h4>
				</div>
				<div id="collapse-{{ group.ref }}" class="panel-collapse collapse">
					<div class="panel-body">
					{% if group.users %}
					<ul>
					{% for user in group.users %}
						<li><a href="{{ this.createUrl('userInfo/index', {'id': user.ref}) }}">{{ user.username }}</a></li>
					{% endfor %}
					</ul>	
					{% endif %}
					</div>
				</div>
			</div>
		{% endfor %}			
		</div>	
		{% if App.queue.status %}
		<dl class="dl-horizontal">
		</dl>	
		{% else %}
			There is no queue status. Probably the user is not defined in the system
		{% endif %}
		</div>		
	</div>
{% endblock %}
	
	
{% block onReady %}
  $('.menu-overview').addClass('active');
	{{ parent() }}
{% endblock %}	