<div class="grid-row art-row row a-url table-hover" data-url="{{ this.createUrl('userInfo/index', {'id': data.ref} ) }}" >	
	<div class="col-xs-1 text-right">{{ data.ref }}</div>	
	<div class="col-xs-3 grid-col-no-wrap">{{ data.username }}</div>	
	<div class="col-xs-3 grid-col-no-wrap">{{ data.fullname }}</div>	
	<div class="col-xs-2 grid-col-no-wrap">{{ data.group.name }}</div>	
	<div class="col-xs-2 grid-col-no-wrap">{{ data.account_expires }}</div>	
</div>